
<div class="container">
  
  @if (User.Identity.IsAuthenticated)
  {
    <h2><a href="https://fontmeme.com/arcane-tv-series-font/"><img src="https://fontmeme.com/permalink/220603/8b13382923bd419f3085b151b70c6811.png" alt="arcane-tv-series-font" border="0"></a></h2>
    <img id="centeredImage" src=img/user.jpg>
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <div id="table">
        <input type="submit" class="myCssClass" value="Log out" />
        </div>
    }
  }
  else
  {
  <h2><a href="https://fontmeme.com/arcane-tv-series-font/"><img src="https://fontmeme.com/permalink/220603/eee5b7491c5f9f9d387c415c16c26de9.png" alt="arcane-tv-series-font" border="0"></a></h2>
  <img id="centeredImage" src=img/user.jpg>
  <hr />
    <table id="table">
      <tr>
        <td>@Html.ActionLink("Register", "Register", null, null, new {@class = "myCssClass"})</td>
        <td>@Html.ActionLink("Log in", "Login", null, null, new {@class = "myCssClass"})</td>
      </tr>
    </table>
  }
  <p>@Html.ActionLink("Home", "Index", "Home", null, new {@class = "myCssClass"})</p>
</div>