@using System.Security.Claims

<div class="container">
  
  @if (User.Identity.IsAuthenticated)
  {
    <h2>Welcome to your account</h2>
    <img id="centeredImage" src=img/user.jpg>
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <div id="table">
        <input type="submit" class="myCssClass" value="Log out" />
        </div>
    }
  }
  else
  {
  <h2>Please create an account</h2>
  <img id="centeredImage" src=img/user.jpg>
  <hr />
    <table id="table">
      <tr>
        <td>@Html.ActionLink("Register", "Register", null, null, new {@class = "myCssClass"})</td>
        <td>@Html.ActionLink("Log in", "Login", null, null, new {@class = "myCssClass"})</td>
      </tr>
    </table>
  }
  <p>@Html.ActionLink("Home", "Index", "Home", null, new {@class = "myCssClass"})</p>
</div>